<!DOCTYPE html>
<html>
<head>
  <title>Đăng nhập Facebook</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Kết nối Facebook</h1>
    <a href="/auth/facebook" class="btn">Đăng nhập Facebook để cấp quyền đăng bài</a>
  </div>
</body>
</html>
